.about {
  background-color: #202020;
  color: white;
  padding: 100px 70px 100px;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px 0 0;
}

.about__title {
  margin: 0;
  padding: 0 0 23px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 27px;
}

.about__info {
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
}

.about__photo {
  display: block;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-radius: 30px;
}

.about__name {
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 58px;
}

.about__preview {
  margin: 18px 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.about__desc {
  margin: 26px 0 99px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 90px;
  }
  .about__title {
    font-size: 40px;
    line-height: 40px;
  }
  .about__preview {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
  .about__desc {
    max-width: 364px;
    margin-top: 20px;
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }
  .about__photo {
    min-width: 50px;
    max-width: 255px;
  }
}

@media (max-width: 500px) {
  .about {
    padding-left: 0;
    padding-right: 0;
  }
  .about__container {
    flex-direction: column-reverse;
    margin: 60px 20px 69px 20px;
  }
  .about__title {
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
  }
  .about__desc {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
  .about__photo {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .about__info {
    max-width: 100%;
    margin-right: 0;
  }
  .about__title {
    margin-top: 40px;
  }
  .about__preview {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}