.profile {
  padding-top: 70px;
  background: #202020;
  color: white;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

.profile__title {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 100px;
  text-align: center;
}

.profile__desc {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  line-height: 13px;
}

.profile__desc:nth-child(2n) {
  border-bottom: 1px solid #424242;
}

.profile__input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  text-align: right;
  width: auto;
  color: inherit;
  background-color: inherit;
}

.profile__input:focus {
  outline: none;
}

.profile__buttons {
  padding-top: 200px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__button {
  background: #202020;
  border: none;
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.profile__button:disabled {
  opacity: .3;
  cursor: default;
}

.profile__button_exit {
  color: #EE3465;
}

@media (max-width: 768px) {
  .profile__buttons {
    padding-bottom: 270px;
  }
}

@media (max-width: 500px) {
  .profile__content {
    max-width: 250px;
  }

  .profile__title {
    padding-bottom: 80px;
  }

  .profile__buttons {
    padding-top: 500px;
    padding-bottom: 30px;
  }
}