.footer__link-wrapper {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  list-style-type: none;
}

.footer__link-wrapper:last-of-type {
  margin-right: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
}

@media (max-width: 320px) {
  .footer__link-wrapper {
    display: list-item;
    margin-right: 0;
    margin-bottom: 12px;
    text-align: center;
  }
  .footer__column-links {
    margin-top: 10px;
    padding: 0;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}